<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Home</title>
</head>
<body style="background-image:url(/images/background.jpg)">
<h2>Hello World!</h2>
<form method="post" action="login">
    <input type="text" name="username" value="OleOlsen" />
    <input type="password" name="password" value="12345" />
    <input type="submit" value="I dare you!!" />
</form>
<h3 name="velkommen">Velkommen til dig</h3>
<form th:each="user2 : ${users}">
    <p th:text="${user2}" ></p>
</form>

</body>
</html>